<table class="table">
  <thead>
    <tr>
      <th>Account</th>
      <th>Date</th>
      <th>Transaction</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Transaction Type</th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.account.name %></td>
        <td><%= entry.date %></td>
        <td><%= entry.name %></td>
        <td><%= entry.amount %></td>
        <td><%= entry.category.name if entry.category_id %></td>
        <td><%= entry.transaction_type.name %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>

<h2>Import Transactions</h2>
<%= form_for @import_entry, { url: url_for(:controller => 'import_entries', :action => 'create') } do |form| %>
  <%= form.collection_select :account_id, Account.order(:name), :id, :name %>
  <%= form.file_field :file %>
  <%= form.submit "Import" %>
<% end %>
